.header {
	margin-top: 20px;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__logo {
	transition: 0.3s;

	img {
		@include av('width', 60, 50, $maxWC, $minWC);
		@include av('height', 60, 50, $maxWC, $minWC);
		border-radius: 50%;
		overflow: hidden;
	}

	flex: 1 1 auto;

	@media (max-width: px($wc2)) {
		.mobile-hidden {
			display: none;
		}
	}
}